body {
  margin: 0;
  font-family: system-ui;
  background: #0f1115;
  color: #fff;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  background: #171a21;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #2a2f3d;
}

h1 {
  margin: 0;
  font-size: 20px;
}

/* SELECT */
select {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #222;
  color: #fff;
}

/* LISTA */
main {
  padding: 15px;
  padding-bottom: 80px;
}

/* CARD */
.card {
  background: #171a21;
  border: 1px solid #2a2f3d;
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 15px;
}

/* ROW */
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  color: #9aa4b2;
  font-size: 14px;
}

.value {
  font-weight: bold;
  font-size: 16px;
}

.estado {
  color: #6ee7b7;
}

/* BOTON */
button {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  color: #000;
}



/* MENSAJES */
.loading, .empty {
  text-align: center;
  color: #9aa4b2;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #171a21;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #9aa4b2;
}